<div class="input">
    <label class="input__label" for="{{name}}">{{label}}</label>
    {{{BaseInput name=name
            ref="input"    
            type=type
            onBlur=onBlur
            placeholder=placeholder
            className="input__input" 
    }}}
    {{{ ErrorMessage ref="validationMessage" }}}
</div>
