<div class="message message_{{type}}">
    <div class="message__user">
        {{user}}
    </div>
    <div class="message__message">{{message}}</div>
    <div class="message__time">
        {{time}}
    </div>
</div>