@import '../../styles/variables';
@import '../../styles/mixins';

.chats-page {
    &__chats {
        background-color: $color-whitegrey;
        width: 310px;    
        display: flex;
        flex-direction: column;
    }

    &__chats-header {
        //height: 80px;
        padding: 21px 0 14px;
        border-bottom: 1px solid $color-lightgrey;
        margin: 0 10px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__to-profile-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__chats-list {
        margin: 0 10px;
        font-weight: 600;
        color: $color-baseblack;
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
    }

    &__current {
        flex: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        padding: 0 20px;
    }
    &__current-top {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        border-bottom: 1px solid $color-lightgrey;
    }
    &__current-user {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__current-user-img {
        border-radius: 50%;
        width: 34px;
        height: 34px;
        flex-shrink: 0;
        background: $color-softgrey;
    }
    &__current-user-name {
        color: $color-baseblack;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: 13px;
    }
    &__current-body {
        flex-grow: 1;
        overflow: auto;
        @include hide-scrollbar;
    }
}
